.features {
  &__text {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    background: $lightGrey;

    @include breakpoint-up(large) {
      text-align: left;
      padding-right: 525px;

      @include full-bleed("before") {
        background-color: $lightGrey;
      }
    }
    &__title {
      font-size: 30px;
      font-weight: lighter;
      margin-block-end: 10px;
    }
  }

  &__list {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;

    @include breakpoint-up(large) {
      column-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "item-one  item-one  item-one"
        "item-two  item-two  item-three"
        "item-four item-five item-six";

      @include full-bleed("before") {
        background-color: $white;
      }
    }
    &__item {
      display: flex;
      padding: 25px 10px;
      align-items: center;
      &__img {
        width: 50px;
        object-fit: contain;
        margin-inline: 10px;
      }

      &__description {
        text-align: left;
      }
      &__one {
        grid-area: item-one;
      }

      &__two {
        grid-area: item-two;
      }

      &__three {
        grid-area: item-three;
      }

      &__four {
        grid-area: item-four;
      }

      &__five {
        grid-area: item-five;
      }

      &__six {
        grid-area: item-six;
      }
    }
  }
}
