@keyframes slide-in-rtl {
    from {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-in-ltr {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0);
    }
}