$primary-color: rgb(4, 122, 237);
$darkBlue: rgb(29, 76, 207);
$veryDarkBlue: #002240;
$white: white;
$darkGrey: #333;
$grey: grey;
$lightGrey: #f4f4f4;
$success: rgb(94, 182, 84);

// font sizes

$font-sm: 13px;
$font-md: 16px;
$font-md-large: 20px;
$font-lg-small: 35px;
$font-lg: 40px;
$font-xl: 64px;

// line-height

$line-height-md: 1.2;
$line-height-lg: 1.6;
